
#login-dp{
    min-width: 300px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:#18121E;
}
.login-social{
    float: none;
    margin: 0 auto 30px;
    text-align: center;
}

#login-dp .bottom{
    background-color:#18121E;
    clear:both;
    padding:14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #18121E;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
